
.amarillo1{
    background-color:yellow;
    margin:10px;
    height: 100px;
    width: 200px;}
.rojo{
    background-color:red;
    margin:10px;
    height: 100px;
    width: 200px;
/*una 2da opcion es modificando 
position: relative; 
left:210px;
top:-115px;*/}
.amarillo2{ 
   background-color:yellow;
   margin:10px; 
   height: 100px;
   width: 200px;

/*una 2da opcion es modificando 
position: relative; 
left:420px;
top:-230px;*/}
div{
   display: inline-block;}
	