
.amarillo1{
background-color:yellow;
margin:0px;
height: 100px;
width: 200px;

}
.rojo{
background-color:red;
margin:0px;
height: 100px;
width: 200px;
}
.amarillo2{ 
background-color:yellow;
margin:0px; 
height: 100px;
width: 200px
}
