
.amarillo1{
   background-color:yellow;
   margin:10px;
/*modificando el height y width y manteniendo el elemento 
position relative con left y top
es una 2da opcion aqui por tiempo no lo termine de modificar pero 
por eso esta como comentario
height: 100px;
width: 200px;*/}
.rojo{
   background-color:red;
   margin:10px;
/*  modificando 
height: 100px;
width: 200px;*/
/* position: relative; 
left:210px;
top:-115px;*/}
.amarillo2{ 
   background-color:yellow;
   margin:10px; 
/* modificando
height: 100px;
width: 200px;*/
/*position: relative; 
left:420px;
top:-230px;*/}
div{
	display: inline-block;
	padding: 0px 10px;}
	/*para usar la 2da opcion quitamos el elemento div*/
	